<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hry.klg.prizedraw.dao.KlgPrizedrawCustomerDao">
	<resultMap id="BaseResultMap" type="hry.klg.prizedraw.model.KlgPrizedrawCustomer">
    </resultMap>
    
    <select id="findPageBySql" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        select 
	        kbt.*,
	        ap.trueName as trueName,
	        ap.surname as surName,
	        ap.mobilePhone as mobilePhone,
	        ap.email as email
        from
        klg_prizedraw_customer as kbt 
        INNER JOIN app_person_info as ap
        	on kbt.customerId = ap.customerId
        <where>
            1=1
            <if test="status != null and status != '' ">
                and kbt.status = #{status,jdbcType=TINYINT}
            </if>
            <if test="customerId != null and customerId != '' ">
                and kbt.customerId = #{customerId,jdbcType=BIGINT}
            </if>
            <if test="issueNumber != null and issueNumber != '' ">
                and kbt.issueNumber = #{issueNumber,jdbcType=INTEGER}
            </if>
            <if test="trueName != null and trueName != '' ">
                and ap.trueName like #{trueName,jdbcType=VARCHAR}
            </if>
            <if test="surName != null and surName != '' ">
                and ap.surname like #{surName,jdbcType=VARCHAR}
            </if>
            <if test="mobilePhone != null and mobilePhone != '' ">
                and ap.mobilePhone like #{mobilePhone,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != '' ">
                and ap.email like #{email,jdbcType=VARCHAR}
            </if>
             <if test="modified_s!=null and modified_s!='' ">
                and kbt.created <![CDATA[ >= ]]> #{modified_s}
            </if>
            <if test="modified_e!=null and modified_e!='' ">
                and kbt.created   <![CDATA[ <= ]]> #{modified_e}
            </if>
             <if test="modified_sm!=null and modified_sm!='' ">
                and kbt.startDate <![CDATA[ >= ]]> #{modified_sm}
            </if>
            <if test="modified_em!=null and modified_em!='' ">
                and kbt.startDate   <![CDATA[ <= ]]> #{modified_em}
            </if>
            <if test="lastIssueNumber != null and lastIssueNumber != '' ">
                and kbt.issueNumber != #{lastIssueNumber,jdbcType=INTEGER}
            </if>
        </where>
        order by kbt.created desc
    </select>
    
    <!-- 获取用户抽奖次数限制-->
    <select id="getCustomerDrawCount" parameterType="java.util.Map"
            resultType="Integer">
            SELECT
				klc.luckDrawCount
			FROM
				klg_customer_level kcl
			LEFT JOIN klg_level_config klc ON kcl.levelId = klc.id
			WHERE
				kcl.customerId = #{customerId,jdbcType=BIGINT}
    </select>
    
    <!-- 查询用户本期抽奖次数-->
    <select id="getCustomerIssueDrawCount" parameterType="java.util.Map"
            resultType="Integer">
           SELECT
				COUNT(kpc.id)
			FROM
				klg_prizedraw_lssue kpl
			LEFT JOIN klg_prizedraw_customer kpc ON kpl.issueNumber = kpc.issueNumber
			WHERE
				kpl.`status` = 2
			AND kpc.customerId = #{customerId,jdbcType=BIGINT}
    </select>
    
    <!-- 查询用户本周排单次数-->
    <select id="getCustomerBuyOrderCount" parameterType="java.util.Map"
            resultType="Integer">
           SELECT
				COUNT(1)
			FROM
				klg_buy_transaction
			WHERE
				YEARWEEK(
					date_format(created, '%Y-%m-%d'),
					1
				) = YEARWEEK(now(), 1)
			AND customerId = #{customerId,jdbcType=BIGINT}
    </select>
    
    

</mapper>
