<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="hry.customer.area.dao.AreaDao">  
    <select id="findProvince" resultType="hry.area.model.Area">  
        SELECT DISTINCT  
        area.id,area.name FROM base_area area where 1=1 and  
        area.parentid='0'  
    </select>  
    <select id="findCity" resultType="hry.area.model.Area">  
        SELECT DISTINCT  
        area.id,area.name FROM base_area area where 1=1 and  
        area.parentid=#{0}  
    </select>  
    <select id="findCounty" resultType="hry.area.model.Area">  
        SELECT DISTINCT  
        area.id,area.name FROM base_area area  
        where 1=1 and  
        area.parentid=#{0}  
    </select>  
</mapper>  