<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hry.web.message.dao.AppMessageDao"   >

<!-- 根据状态查询所有消息  并找到对应的所有用户出来   -->

<resultMap type="hry.web.app.model.vo.MessageListVo" id="AppMessageListVo">
		<id column="id" property="id" />
		<result column="categoryName" property="categoryName" />
		<result column="title" property="messageTitle" />
		<!-- 发送时间 -->
		<result column="sendDate" property="sendDate" />
		
		<result column="isSend" property="isSend" />
		<!-- 发送人姓名 -->
		<result column="sendUserName" property="sendUserName" />
		<!-- 操作人 -->                       
		<result column="operator" property="operator" />
		<!-- 保存时间 -->
		<result column="created" property="created" />
		
		<collection property="list" ofType="hry.web.app.model.MessageAsCustomer">
			<id column="mid" property="id" />
			<result column="userName" property="userName" />
			<result column="customerName" property="customerName" />
		</collection>
</resultMap>
  
<select id="findMessageListVoList"  resultMap="AppMessageListVo" >
		                
		SELECT am.id,am.categoryName,am.sendUserName,am.operator,am.isSend,am.title,am.created,am.sendDate,mac.id as mid ,mac.customerName 
			FROM `message_as_customer` mac, `app_message` am 
			WHERE mac.messageId = am.id 
		<if test="state != null ">
			AND am.isSend = #{state}
		</if>
	</select>

	
<!-- 根据一条消息的id  以及状态查询所有的用户 -->	
	
<resultMap type="hry.web.app.model.vo.MessageListVo" id="AppMessageListVo2">
		<id column="id" property="id" />
		<result column="categoryName" property="categoryName" />
		<result column="title" property="messageTitle" />
		<!-- 发送时间 -->
		<result column="sendDate" property="sendDate" />
		<!-- 发送人姓名 -->
		<result column="sendUserName" property="sendUserName" />
		<!-- 操作人 -->                       
		<result column="operator" property="operator" />
		<!-- 保存时间 -->
		<result column="created" property="created" />
		
		<collection property="list" ofType="hry.web.app.model.MessageAsCustomer">
			<id column="mid" property="id" />
			<result column="userName" property="userName" />
			<result column="customerName" property="customerName" />
			<result column="state" property="state" />
		</collection>
</resultMap>
    
    
    
   
    
<select id="findMessageListVo"  resultMap="AppMessageListVo2" >
		<![CDATA[ 
		
		SELECT am.id,am.categoryName,am.sendUserName,am.operator,am.title,am.created,am.sendDate,mac.id AS MID ,mac.customerName 
			FROM `message_as_customer` mac, `app_message` am 
			WHERE mac.messageId = am.id AND am.isSend =#{0} And am.id = #{1}

		 ]]>
	</select>
	
	
	<!-- 根据用户的id查询所有的未读消息  查询对应的用户的消息的条数 以及消息的详情
	
			第一个参数 是判断消息是否发送了   第二个参数是用户的id  第三个参数是判读消息是否已读
	
	   -->
	        
<select id="findCustumerById"  resultType="hry.web.app.model.vo.MessageAndCustromerVo" >
		SELECT msg.id, msg.content, msg.title, msg.sortTitle, msg.sendDate,msgCust.id AS cid,msgCust.state 
			FROM app_message AS msg 
			INNER JOIN message_as_customer AS msgCust  ON 
			msg.id=msgCust.messageId AND msgCust.customerId=#{customerId}
			AND msg.isSend=#{isSend}
			<if test="state == 1">
				AND msgCust.state=#{state}
			</if>
			ORDER BY  msgCust.state DESC ,msg.sendDate DESC
	</select>
	

	<select id="selectMessageVo" resultType="hry.web.app.model.vo.MessageListVo">
		SELECT id,categoryName,title messageTitle,isSend,sendUserName,sendDate,created FROM app_message 
		<where>
			isSend = 1 
		  <if test="messageType != null and messageType != ''">
		   and messageType = #{messageType}
		  </if>
		   <if test="title != null and title != ''">
		   and title like CONCAT('%',#{title},'%')
		  </if>
		   <if test="categoryName != null and categoryName != ''">
		   and categoryName like CONCAT('%',#{categoryName},'%')
		  </if>
		</where>
	</select>
	
	<select id="selectMessageAsCustromer" resultType="hry.web.app.model.MessageAsCustomer">
		SELECT a.*,b.email,b.mobilePhone FROM message_as_customer a, app_person_info b 
	    WHERE a.customerId = b.customerId and messageId = #{messageId}
	</select>

</mapper>














